/**
 * ------------------------------
 * Banner
 * ------------------------------
 */

.banner {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.banner-header {
	margin-bottom: 0;
}

.banner-buttons button {
	text-align: center;
	display: inline-block;
	min-width: 150px;
}
