.site-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: var(--site-header-height);
	line-height: var(--site-header-height);
	border-bottom: 1px solid var(--color-grey-unfilled);
	background-color: #fff;
	font-size: var(--text-size-lg);
	text-transform: uppercase;
}

.site-header a {
	display: inline-block;
	font-size: var(--text-size-sm);
	margin: 0;
	padding: 0rem 1.25rem;
}

.site-header .nav-trigger {
	display: inline-block;
	cursor: pointer;
	font-size: var(--text-size-lg);
	padding: 0;
}
