.sub-nav__container {
	border-bottom: 1px solid var(--color-grey-unfilled);
}

.sub-nav {
	display: flex;
	background-color: #fff;
	/* Place above overlapping box-shadows of other elements */
	position: relative;
	z-index: 1;
	font-size: var(--text-size-sm);
}

.sub-nav a {
	display: inline-block;
	margin: 0;
	padding: 0.8rem 2.5rem;
	text-transform: uppercase;
	border-bottom: 3px solid transparent;
	transition: border-color 0.1s ease-in;
	/* To compensate for the 3px border-bottom */
	margin-top: 3px;
}

.sub-nav a.active {
	border-color: var(--color-primary);
}

.sub-nav a:hover {
	border-color: var(--color-primary-faded);
}

@media (max-width: 600px) {
	.sub-nav {
		/* Clear container padding */
		padding: 0;
	}

	.sub-nav a {
		padding-left: 0;
		padding-right: 0;
		flex-grow: 1;
		flex-basis: 0;
		text-align: center;
	}
}
