.site-sidebar {
	--vertical-padding: 1.25rem;
	width: var(--aside-nav-width);
	flex-shrink: 0;
	overflow: hidden;
	background-color: var(--color-secondary);
	transition: width 200ms ease-out;
}

.site-sidebar.closed {
	width: 0;
}

.site-sidebar .logo-wrapper {
	display: flex;
	align-items: center;
	width: 100%;
	height: var(--site-header-height);
	padding: 1.2rem var(--vertical-padding);
	color: var(--color-primary-light);
	font-size: var(--text-size-rg);
}

.site-sidebar .logo {
	display: block;
	height: 1.5rem;
	max-width: unset;
}

.site-sidebar .nav-header {
	padding: 0.25rem var(--vertical-padding) 0.25rem;
	text-transform: uppercase;
	font-size: var(--text-size-xsm);
	opacity: 0.5;
	color: #fff;
}

.site-sidebar nav a {
	display: inline-block;
	margin: 0;
	padding: 0.7rem var(--vertical-padding);
	width: 100%;
	color: #fff;
	text-transform: uppercase;
	font-size: var(--text-size-sm);
}

.site-sidebar .logo-wrapper,
.site-sidebar a:hover,
.site-sidebar a.active {
	opacity: 1;
}

.site-sidebar a.active:not(.logo-wrapper) {
	background-color: var(--color-secondary-dark);
	border-color: var(--color-orange);
}
