.panel-container:not(:last-child) {
	margin-bottom: var(--block-md);
}

.table-list--vertical {
	table-layout: auto;
	width: 100%;
}

.table-list--vertical tr:first-child th,
.table-list--vertical tr:first-child td {
	padding-top: 0;
}

.table-list--vertical tr:last-child th,
.table-list--vertical tr:last-child td {
	padding-bottom: 0;
}

.table-list--vertical th {
	text-align: left;
	vertical-align: top;

	/* Override base th styles */
	text-transform: capitalize;
	opacity: 0.7;
}

.table-list--vertical td {
	padding-left: 3rem;
	width: 100%;

	/* Allows rendering of new line characters */
	white-space: pre-line;
}

.table-list--vertical .table-list__item:not(:first-of-type) {
	border-top: 1px solid var(--color-grey-lightest);
}

.table-list__item:not(:first-child) {
	margin-top: 0.8rem;
}

.table-list__item div {
	display: inline-block;
}

.table-list__item div:first-child {
	width: 200px;
	text-transform: lowercase;
	font-variant-caps: small-caps;
	font-size: var(--text-size-lg);
}
