/*
 * ------------------------------
 * Variables
 * ------------------------------
 */

:root {
	--color-primary: #00A7E1;
	--color-primary-faded: #00A7E166;
	--color-primary-dark: #1E74BB;
	--color-brand-dark: #00283A;
	--color-secondary: #323543;
	--color-secondary-dark: #1F222F;
	--color-green: #78BC42;
	--color-red: #EF483D;
	--color-orange: #FD9726;
	--color-yellow: #FCB61A;
	--color-grey: #F2F4F7;
	--color-grey-dark: #999898;
	--color-grey-light: #DBD8D6;
	--color-grey-lightest: #F5F6Fa;
	--color-grey-unfilled: #E8E8E8;
	--color-help: var(--color-grey-dark);
	--color-success: var(--color-green);
	--color-warning: var(--color-red);

	--font: "Roboto", Helvetica, arial ,sans-serif;
	--font-header: "MuseoSans", Helvetica, arial, sans-serif;
	--font-color: #333;
	--font-color-header: var(--color-secondary);
	--font-weight: 400;
	--font-weight-header: 100;

	--line-height: 1.75;

	--text-size-xlg: 1.286rem;
	--text-size-lg: 1.143rem;
	--text-size-rg: 16px;
	--text-size-sm: 0.857rem;
	--text-size-xsm: 0.714rem;

	--header-size-xlg: 3.5rem;
	--header-size-lg: 2.5rem;
	--header-size-rg: 2rem;
	--header-size-sm: 1.5rem;
	--header-size-xsm: 1.25rem;

	--mobile-header-size-lg: 2.441rem;
	--mobile-header-size-rg: 1.953rem;
	--mobile-header-size-sm: 1.563rem;
	--mobile-header-size-xsm: 1.25rem;

	--block-sm: 1.5rem;
	--block-md: 2.2rem;
	--block-rg: 3rem;
	--block-lg: 5rem;

	--container-sm: 450px;
	--container-md: 700px;
	--container-rg: 960px;
	--container-lg: 1200px;
	--container-width: var(--container-rg);
	--container-full-padding: 2.5rem;

	--icon-spacing: 0.7rem;

	--main-background-color: var(--color-grey-lightest);
	--site-header-height: 4rem;
	--aside-nav-width: 200px;

	--h1-font-weight: var(--font-weight-header);
	--h1-color: inherit;
	--link-color: inherit;
}


/*
 * ------------------------------
 * Base Styles
 * ------------------------------
 */

*, *:before, *:after {
	box-sizing: border-box;
}

body {
	margin: 0;
	background-color: #fff;

	/* For SWAL popup which mounts in the DOM outside of .site-root element */
	font-family: var(--font);
}

.site-root {
	/*
	 * Apply base styles to site-root not body because user facing (non portal)
	 * overides are defined on the .site-root element
	 */
	color: var(--font-color);
	font-family: var(--font);
	font-size: var(--text-size-rg);
	font-weight: var(--font-weight);
	line-height: var(--line-height);
	/* End base styles */

	position: relative;
	display: flex;
	flex-direction: row;
	min-height: 100vh;
}

main {
	width: calc(100% - var(--aside-nav-width));
	min-height: 100vh;
	background-color: var(--main-background-color);
	overflow: hidden;
}

h1, h2, h3, h4, h5, header {
	margin: 0 0 0.25em 0;
	line-height: 1.3;
	font-family: var(--font-header);
	font-weight: var(--font-weight-header);
}

h1 {
	font-size: var(--header-size-lg);
	font-weight: var(--h1-font-weight);
	color: var(--h1-color);
}

h2 {
	font-size: var(--header-size-rg);
}

h3 {
	font-size: var(--header-size-sm);
}

h4 {
	font-size: var(--header-size-xsm);
}

@media (max-width: 500px) {
	h1 {
		font-size: var(--mobile-header-size-lg);
	}

	h2 {
		font-size: var(--mobile-header-size-rg);
	}

	h3 {
		font-size: var(--mobile-header-size-sm);
	}

	h4 {
		font-size: var(--mobile-header-size-xsm);
	}
}

header {
	font-family: var(--font-header);
}

small, .text--sm {
	font-size: var(--text-size-sm);
}

p {
	margin: 0;
	margin-bottom: 1rem;
}

p.no-spacing {
	margin: 0;
}

hr {
	margin: 1.25rem auto;
	margin-left: 0;
	border: 0;
	border-bottom: 2px solid var(--color-grey);
}

img {
	vertical-align: middle;
	max-width: 100%;
}

img.image--sm {
	height: 24px;
}

ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

li {
	display: inline-block;
}

a, button {
	cursor: pointer;
	font-family: inherit;
}

a {
	text-decoration: none;
	color: var(--link-color);
}

nav.passive a:hover,
nav.passive a:active,
nav.passive a.active,
.link--passive:hover,
.link--passive:active {
	opacity: 1;
}

nav.passive a,
.link--passive,
.light {
	opacity: 0.5;
}

.link {
	color: var(--color-primary);
}


/*
 * ------------------------------
 * Utility Classes
 *
 * Generic classes for simple of one off style changes
 * ------------------------------
 */

.color-primary {
	color: var(--color-primary);
}

.inline-block {
	display: inline-block;
}

.vertical-center {
	vertical-align: middle;
}

.message {
	padding-bottom: 0.5rem;
}

.message--error {
	color: var(--color-warning);
}

.message--success {
	color: var(--color-success);
}

.required:before {
	content: '*';
	margin-left: 0.3rem;
	color: var(--color-warning);
}

.text-center {
	text-align: center;
}

.text-left {
	text-align: left;
}

.text-xsm {
	font-size: var(--text-size-xsm);
}

.text-sm {
	font-size: var(--text-size-sm);
}

.text-lg {
	font-size: var(--text-size-lg);
}

.text-xlg {
	font-size: var(--text-size-xlg);
}

.text--help {
	color: var(--color-help);
	font-size: var(--text-size-xsm);
	margin-top: -0.5rem;
}

.box--bordered {
	padding: 1rem 1.4rem;
	border: 1px solid var(--color-grey);
}


/*
 * ------------------------------
 * Icon
 *
 * Markup:
 * <span>
 *   <a class='icon'>&#9776;</a>
 *   <span className='icon__text'>User</span>
 * </span>
 * ------------------------------
 */

.icon {
	display: inline-block;
	vertical-align: middle;
	margin-right: 0.5rem;
}

.icon.icon--lg {
	margin-right: 1rem;
}

/* Flip icon vertically */
.icon--flip {
	display: inline-block;
	transform: scale(-1, 1);
}

.icon__text {
	display: inline-block;
	vertical-align: middle;
}


/*
 * ------------------------------
 * Vertical list
 *
 * List of items with vertical spacing
 *
 * Markup:
 * <element class='list--vertical'>
 *   <div class='list__item'>Row</div>
 * </element>
 * ------------------------------
 */

.list--vertical .list__item {
	margin-right: 0.8rem;
}


/*
 * ------------------------------
 * Bordered List
 *
 * List with rows of items seperated by a border
 *
 * Markup:
 * <element class='list--bordered'>
 *   <div class='list__item'>Row</div>
 * </element>
 * ------------------------------
 */

.list--bordered .list__item {
	border: 0px solid var(--color-grey);
	border-top-width: 1px;
	padding-top: 1.25rem;
	padding-bottom: 1.25rem;
}

.list--bordered .list__item:last-child {
	border-bottom-width: 1px;
}


/*
 * ------------------------------
 * Button
 *
 * Usually applied to a `<a>` or `<button>` element
 *
 * Markup:
 * <a class='button'>Click Me</a>
 * ------------------------------
 */

.button {
	border-color: #dadada;
	border: 0;
	background: var(--color-success);
	color: #fff;
	padding: .85rem 1rem;
	line-height: 1.25;
	margin: 1rem 0;
	text-transform: uppercase;
	transition: background-color .2s ease-out,color .2s ease-out;
	cursor: pointer;
}

.button--lg {
	font-size: var(--text-size-lg);
	padding: 1rem 2rem;
}

.button:hover {
	background-color: var(--color-primary-dark);
}

/**
 * Button Link
 * Visually resembles an anchor tag but doesn't link anywhere
 */
.button--link {
	color: var(--link-color);
	background-color: transparent;
	border: 0;
}

.button--full {
	display: inline-block;
	width: 100%;
	text-align: center;
}

/**
 * Button Hollow
 * Transparent background with thin border and colored text
 */
.button--hollow {
	background: none;
	border: 1px solid var(--color-primary);
	color: var(--color-primary);
}

.button--hollow.inverted {
	border-color: #fff;
	color: #fff;
}

.button--hollow:hover,
.button--hollow:active,
.button--hollow:focus {
	background: var(--color-primary);
	border-color: var(--color-primary);
	color: #fff;
}

.button--hollow.inverted:hover,
.button--hollow.inverted:active,
.button--hollow.inverted:focus {
	background: #fff;
	border-color: #fff;
	color: var(--color-primary);
}

.button--warning {
	background: transparent;
	color: var(--color-warning);
	opacity: 0.7;
}

.button--warning:hover {
	background: transparent;
	opacity: 1;
}


/*
 * ------------------------------
 * Form Elements
 * ------------------------------
 */

label, legend {
	display: block;
	font-size: var(--text-size-lg);
	line-height: 1.8;
}

fieldset {
	border: 0;
}

textarea,
input,
select,
button,
fieldset,
.button {
	border-radius: 2px;
	box-shadow: none;
}

textarea,
input,
select {
	display: block;
	height: auto;
	width: 100%;
	font-family: inherit;
	font-weight: inherit;
	text-align: inherit;
	color: var(--font-color);
	background-color: #f5f6fa;
	border: 1px solid var(--color-grey-unfilled);
	padding: 0.8rem 1rem;
}

textarea,
input,
select,
fieldset {
	margin-bottom: 1rem;
}

input,
textarea,
select,
fieldset label {
	/* Reset since wrapping label will be size-lg */
	font-size: var(--text-size-rg);
}

select {
	padding-right: 1.8rem;

	/* Custom drop down icon */
	appearance: none;
	background-image:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' width='32' height='24' viewBox='0 0 32 24'><polygon points='0,0 32,0 16,24' style='fill: rgb%28138, 138, 138%29'></polygon></svg>");
	-webkit-background-origin:content-box;
	background-origin:content-box;
	background-position:right -1rem center;
	background-repeat:no-repeat;
	-webkit-background-size:9px 6px;
	background-size:9px 6px;
}

fieldset {
	padding: 0;
}

.box-label {
	--box-offset: 24px;
	margin-left: var(--box-offset);
}

.box-label input[type='checkbox'],
.box-label input[type='radio'] {
	margin: 0 0.5rem 0 calc(var(--box-offset) * -1);
}

input[type='checkbox'], input[type='radio'] {
	display: inline-block;
	width: auto;
	margin: 0 .5rem 0 0;
	vertical-align: middle;
}

.required:before {
	content: '*';
	margin-left: 0.3rem;
	color: var(--color-warning);
}


/*
 * ------------------------------
 * Table
 * ------------------------------
 */

table {
	border-collapse: collapse;
	table-layout: fixed; /* Make all columns the same width */
	width: auto;
	font-size: var(--text-size-sm);
}

table th,
table td {
	padding: 0.5rem 0;
}

table tbody tr {
	border-collapse: collapse;
}

table thead,
table tbody tr:not(:last-of-type) {
	border-bottom: 1px solid var(--color-grey-lightest);
}

table tbody tr:last-of-type td {
	padding-bottom: 0;
}

table thead td:first-of-type {
	width: 100%;
}

table thead td {
	padding-top: 0;
	width: auto;
	cursor: pointer;
}

table th,
table td {
	white-space: nowrap;
}

table td:not(:first-child) {
	padding-left: 1.5rem;
}

/* Material Icons, used for sort direction icons */
table td svg {
	vertical-align: top;
}


/*
 * ------------------------------
 * Table and form shared styles
 * ------------------------------
 */

table th,
table thead td,
.label-text {
	text-transform: uppercase;
	font-weight: bold;
	opacity: 0.5;
}

label select {
	text-transform: initial;
}


/*
 * ------------------------------
 * Blocks
 *
 * Adds vertical spacing around elements
 * Uses margin so spacing between two sibiling blocks overlap instead of doubling up
 * ------------------------------
 */

/*
 * This class is not required when using a block class
 * Stops the margin of a block to extend beyond it's parent element
 * E.g. When applying a background color to the parent/container element
 *
 * Markup:
 * <element class='block__container'>
 *   <element class='block'></element>
 *   <element class='block'></element>
 * </element>
 */
.block__container {
	overflow: auto;
}

.block,
.block--sm,
.block--md,
.block--lg {
	margin-top: var(--block-spacing);
	margin-bottom: var(--block-spacing);
}

.block {
	--block-spacing: var(--block-rg);
}

.block--sm {
	--block-spacing: var(--block-sm);
}

.block--md {
	--block-spacing: var(--block-md);
}

.block--lg {
	--block-spacing: var(--block-lg);
}

.block--shadow {
	box-shadow: 0 0 3px 3px var(--color-grey);
	margin-top: 2rem;
}

.block--grey {
	background-color: var(--color-grey);
}

@media (max-width: 1300px) {
	.block--lg {
		--block-spacing: var(--block-rg);
	}
}

@media (max-width: 1060px) {
	.block,
	.block--lg {
		--block-spacing: var(--block-md);
	}
}

@media (max-width: 800px) {
	.block--md,
	.block,
	.block--lg {
		--block-spacing: var(--block-sm);
	}
}


/*
 * ------------------------------
 * Container
 *
 * Adds horizonal spacing to effectively set max with of elements
 * Uses padding instead of max width plus centering so backgrounds span over the spacing
 * ------------------------------
 */

.container,
.container--sm,
.container--md,
.container--lg {
	padding-left: calc(50% - (var(--container-width) / 2));
	padding-right: calc(50% - (var(--container-width) / 2));
}

.container {
	--container-width: var(--container-rg);
}

.container--sm {
	--container-width: var(--container-sm);
}

.container--md {
	--container-width: var(--container-md);
}

.container--lg {
	--container-width: var(--container-lg);
}

.container--full {
	padding-left: var(--container-full-padding);
	padding-right: var(--container-full-padding);
}

@media (max-width: 1280px) {
	.container--lg {
		padding-left: var(--container-full-padding);
		padding-right: var(--container-full-padding);
	}
}

@media (max-width: 1040px) {
	.container {
		padding-left: var(--container-full-padding);
		padding-right: var(--container-full-padding);
	}
}

@media (max-width: 780px) {
	.container--md {
		padding-left: var(--container-full-padding);
		padding-right: var(--container-full-padding);
	}
}

@media (max-width: 500px) {
	.container--full,
	.container--sm,
	.container--md,
	.container,
	.container--lg {
		padding-left: 1.5rem;
		padding-right: 1.5rem;
	}
}


/**
 * ------------------------------
 * Flex
 *
 * Simple flex grid system
 * Expands grid items vertically with spacing between each
 *
 * Markup:
 * <element class='flex'>
 *   <element class='flex__item'>Item</element>
 * </element>
 * ------------------------------
 */

.flex {
	--item-spacing: 1.5rem;
	display: flex;
}

.flex--lg {
	--item-spacing: 2rem;
}

.flex .flex__item {
	flex-grow: 1;
	flex-basis: 0;
	word-wrap: break-word;
	overflow: hidden;
}

.flex .flex__item:not(:last-child) {
	margin-right: var(--item-spacing)
}

.flex--no-grow .flex__item {
	flex-grow: unset;
	flex-basis: unset;
}

@media (max-width: 600px) {
	.flex:not(.flex--no-collapse) {
		flex-direction: column;
	}

	.flex.flex--no-v-spacing {
		--item-spacing: 0;
	}

	.flex .flex__item {
		overflow: initial;
  }

	.flex .flex__item:not(:last-child) {
		margin-right: 0;
		margin-bottom: var(--item-spacing);
	}
}


/**
 * ------------------------------
 * Grid
 *
 * Simple grid
 * Two column grid which collapses to one on smaller screens
 *
 * Markup:
 * <element class='grid'>
 * </element>
 * ------------------------------
 */

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
}

@media (max-width: 1000px) {
  .grid {
    grid-template-columns: 1fr;
  }
}


/**
 * ------------------------------
 * Panel
 *
 * Padded white background with dropshadow
 * Similar to material designs paper elements
 *
 * Used in portal against the pages grey background
 * ------------------------------
 */

.panel {
	padding: 1.25rem 1.5rem;
	background-color: #fff;
	border-radius: 2px;
	box-shadow: 0 1px 6px var(--color-grey-light);
}

.panel--lg {
	padding: 2.5rem;
}

@media (max-width: 600px) {
	.panel {
		padding: 1.2rem 1.5rem;
	}
}


/**
 * ------------------------------
 * Split
 *
 * More specific flex grid for use with only two items
 * May be replaced by above flex class
 *
 * Markup:
 * <element class='split'>
 *   <element class='split__item'></element>
 *   <element class='split__item'></element>
 * </element>
 * ------------------------------
 */

.split {
	display: flex;
	justify-content: space-between;
}

.split__item {
	flex-basis: 0;
	flex-grow: 1;
	max-width: 48%;
}

@media (max-width: 1200px) {
	.split {
		flex-direction: column;
	}

	.split__item {
		max-width: 100%;
	}

	.split__item:not(:last-child) {
		margin-bottom: var(--block-sm);
	}
}


/*
 * ------------------------------
 * Mapbox custom styling
 * ------------------------------
 */

.marker {
	/* Set custom marker icon */
	background-image: url('/img/rachio_marker.png');
	background-size: cover;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	cursor: pointer;
}

.mapboxgl-popup {
	max-width: 360px;
}

.mapboxgl-popup-close-button {
	background: var(--color-primary) !important;
	color: #fff !important;
	width: 24px !important;
	height: 24px !important;
	border-radius: 100% !important;
	font-weight: 800 !important;
	right: -8px !important;
	top: -8px !important;
}

.mapboxgl-popup-content {
	padding: 1rem !important;
}

@media (min-width: 600px) {
	.mapboxgl-map {
		font: inherit !important;
	}
}

@media (max-width: 600px) {
	.mapboxgl-popup {
		max-width: 80%;
	}
}
