main {
	width: 100%;
}

.auth-wrapper {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.auth-container {
	flex-grow: 1;
}

.signin-logo {
	display: block;
	margin: auto;
	max-height: 40px;
}

.auth-wrapper button {
	width: 100%;
}

/* Move content up on screens move to appear visually centered */
@media (min-width: 600px) {
	.auth-wrapper {
		--header-height: 2%;
		margin-top: calc((var(--header-height) * -1) - 1.2rem);
	}

	.logo-wrapper {
		height: var(--header-height);
	}
}
